footer.footer.text-center
	div.container
		ul.list-inline.mb-5
			li.list-inline-item
				a.social-link.rounded-circle.text-white.mr-3(href="https://www.facebook.com/pg/Krishna-Lake-2287873618105722")
					i.icon-social-facebook

			li.list-inline-item
				a.social-link.rounded-circle.text-white.mr-3(href="https://twitter.com/")
					i.icon-social-twitter

			li.list-inline-item
				a.social-link.rounded-circle.text-white.mr-3(href="https://www.instagram.com/?hl=en")
					i.icon-social-instagram


		p.text-muted.small.mb-0
			| Krisha Lake 2017
