doctype html
html
	head
		include meta_data
		title Krishna Lake
		include google_analytics
		include links
	body#page-top
		include index_navbar
		include gallary_grid
		include footer
		include scripts
