header.masthead.d-flex
	div.container.text-center.my-auto
		h1.mb-1 Stylish Portfolio
		h3.mb-5
			em A Free Bootstrap Theme by Start Bootstrap
		a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Find Out More
	div.overlay
