doctype html
html
	head
		include meta_data
		title Krishna Lake
		include google_analytics
		include links
	body#page-top
		include index_navbar
		include index_header
		include index_about
		include index_services
		include index_portfolio
		include index_contact
		include footer

		include scripts




