#carousel-2.carousel.slide.carousel-fade(data-ride='carousel', data-interval='6000')
	ol.carousel-indicators
		li.active(data-target='#carousel-2', data-slide-to='0')
		li(data-target='#carousel-2', data-slide-to='1')
		li(data-target='#carousel-2', data-slide-to='2')
		li(data-target='#carousel-2', data-slide-to='3')

	.carousel-inner(role='listbox')
		.carousel-item.active
			a(href='gallary.html')
				img.d-block.img-fluid(src='img/carousel_1.jpg', href="gallary.html")
				.carousel-caption
					div
						h2 Camping / Home Stay
						p Best and safe place for camping and home stay

		.carousel-item
			a(href='gallary.html')
				img.d-block.img-fluid(src='img/carousel_2.jpg', href="gallary.html")
				.carousel-caption.justify-content-center.align-items-center
					div
						h2 Best night out experience.
						p Spend best time with family and friends.

		.carousel-item
			a(href='gallary.html')
				img.d-block.img-fluid(src='img/carousel_3.jpg', href="gallary.html")
				.carousel-caption.justify-content-center.align-items-center
					div
						h2 Relax and enjoy rural life
						p Various outdoor activities available.

		.carousel-item
			a(href='gallary.html')
				img.d-block.img-fluid(src='img/carousel_4.jpg', href="gallary.html")
				.carousel-caption.justify-content-center.align-items-center
					div
						h2 Relax and enjoy rural life
						p Various outdoor activities available.

	a.carousel-control-prev(href='#carousel-2', role='button', data-slide='prev')
		span.carousel-control-prev-icon(aria-hidden='true')
		span.sr-only Previous

	a.carousel-control-next(href='#carousel-2', role='button', data-slide='next')
		span.carousel-control-next-icon(aria-hidden='true')
		span.sr-only Next
// /.carousel
