a.menu-toggle.rounded(href='#')
	i.fa.fa-bars
nav#sidebar-wrapper
	ul.sidebar-nav
		li.sidebar-brand
			a.js-scroll-trigger(href='#page-top') Start Bootstrap
		li.sidebar-nav-item
			a.js-scroll-trigger(href='#page-top') Home
		li.sidebar-nav-item
			a.js-scroll-trigger(href='#about') About
		li.sidebar-nav-item
			a.js-scroll-trigger(href='#services') Services
		li.sidebar-nav-item
			a.js-scroll-trigger(href='#portfolio') Activities
		li.sidebar-nav-item
			a.js-scroll-trigger(href='#contact') Contact us
