section.content-section#portfolio
	div.container
		div.content-section-heading.text-center
			h3.text-secondary.mb-0
			h2.mb-5 Activities
		div.row.no-gutters

			div.col-lg-6
				a.portfolio-item(href='#')
					span.caption
						span.caption-content
							h2 Bullock cart ride
							p.mb-0 Awesome Bullock card ride experience
					img.img-fluid(src='img/portfolio-1.jpg')
			div.col-lg-6
				a.portfolio-item(href='#')
					span.caption
						span.caption-content
							h2 Farming experience
							p.mb-0 Tree pantation, milking cow, etc.
					img.img-fluid(src='img/portfolio-2.jpg')
			div.col-lg-6
				a.portfolio-item(href='#')
					span.caption
						span.caption-content
							h2 Gavran veg-nonveg food
							p.mb-0 Best satari veg-nonveg food.
					img.img-fluid(src='img/portfolio-3.jpg')
			div.col-lg-6
				a.portfolio-item(href='#')
					span.caption
						span.caption-content
							h2 Campfire
							p.mb-0 Quality time with family and friends.
					img.img-fluid(src='img/portfolio-4.jpg')

section.content-section.bg-primary.text-white
	div.container.text-center
		h2.mb-4 Call us for booking
		a.btn.btn-xl.btn-dark.mr-4 +918308520699
