section.content-section.bg-primary.text-white.text-center#services
	div.container
		div.content-section-heading
			h3.text-secondary.mb-0 Services
			h2.mb-5 What We Offer
		div.row
			div.col-lg-3.col-md-6.mb-5.mb-lg-0
				span.service-icon.rounded-circle.mx-auto.mb-3
					i.icon-fire
				h4
					strong Camping and Home Stay
				p.text-faded.mb-0 Spending quality time with family and friends

			div.col-lg-3.col-md-6.mb-5.mb-lg-0
				span.service-icon.rounded-circle.mx-auto.mb-3
					i.icon-cup
				h4
					strong Food
				p.text-faded.mb-0 Best Satari veg-nonveg food

			div.col-lg-3.col-md-6.mb-5.mb-lg-0
				span.service-icon.rounded-circle.mx-auto.mb-3
					i.icon-like
				h4
					strong Experience
				p.text-faded.mb-0
					i.fa.fa-heart
						| Various outdoor activities

			div.col-lg-3.col-md-6.mb-5.mb-lg-0
				span.service-icon.rounded-circle.mx-auto.mb-3
					i.icon-mustache
				h4
					strong Hospitality
				p.text-faded.mb-0 Best hospitality.

section.callout
	div.container.text-center
		h2.mx-auto.mb-5.mb-5.text-white Packages

section.content-section.bg-primary.text-white
	div.container.text-center
		h2.mb-4 Call us for booking
		a.btn.btn-xl.btn-dark.mr-4(href='tel:+918308520699') +918308520699
