section.content-section.bg-primary.text-white.text-center#services
	div.container
		div.content-section-heading
			h3.text-secondary.mb-0 Services
			h2.mb-5 What We Offer
		div.row
			div.col-lg-3.col-md-6.mb-5.mb-lg-0
				span.service-icon.rounded-circle.mx-auto.mb-3
					i.icon-screen-smartphone
				h4
					strong Responsive
				p.text-faded.mb-0 Looks great on any screen size!

			div.col-lg-3.col-md-6.mb-5.mb-lg-0
				span.service-icon.rounded-circle.mx-auto.mb-3
					i.icon-pencil
				h4
					strong Redesigned
				p.text-faded.mb-0 Freshly redesigned for Bootstrap 4.

			div.col-lg-3.col-md-6.mb-5.mb-lg-0
				span.service-icon.rounded-circle.mx-auto.mb-3
					i.icon-like
				h4
					strong Favorited
				p.text-faded.mb-0 Millions of users
					i.fa.fa-heart Start Bootstrap!

			div.col-lg-3.col-md-6.mb-5.mb-lg-0
				span.service-icon.rounded-circle.mx-auto.mb-3
					i.icon-mustache
				h4
					strong Question
				p.text-faded.mb-0 I mustache you a question...
