header.masthead.d-flex
	div.container.text-center.my-auto
		h1.mb-1 Krishna Lake
		h3.mb-5
			em Krishna Lake provides a chance for the tourists to come closer to mother nature also it helps them to understand the vast potential in nature, villages and the farmers.
		a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Find Out More
	div.overlay
