header.masthead.d-flex
	div.container.text-center.my-auto
		h1.mb-1 Krishna Lake
		h3.mb-5
			em Site Under Construction.
		a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Find Out More
	div.overlay
