section.content-section.bg-primary.text-white.text-center#services
	div.container
		div.content-section-heading
			h3.text-secondary.mb-0 Services
			h2.mb-5 What We Offer
		div.row
			div.col-lg-3.col-md-6.mb-5.mb-lg-0
				span.service-icon.rounded-circle.mx-auto.mb-3
					i.icon-fire
				h4
					strong Campfire
				p.text-faded.mb-0 Spending quality time with family and friends

			div.col-lg-3.col-md-6.mb-5.mb-lg-0
				span.service-icon.rounded-circle.mx-auto.mb-3
					i.icon-cup
				h4
					strong Food
				p.text-faded.mb-0 Best Satari veg-nonveg food

			div.col-lg-3.col-md-6.mb-5.mb-lg-0
				span.service-icon.rounded-circle.mx-auto.mb-3
					i.icon-like
				h4
					strong Experience
				p.text-faded.mb-0
					i.fa.fa-heart
						|Best rural experience (bullock cart ride)

			div.col-lg-3.col-md-6.mb-5.mb-lg-0
				span.service-icon.rounded-circle.mx-auto.mb-3
					i.icon-mustache
				h4
					strong Hospitality
				p.text-faded.mb-0 Best hospitality.

section.callout
	div.container.text-center
		h2.mx-auto.mb-5.mb-5 View Photos
		a.btn.btn-primary.btn-xl(href='https://www.facebook.com/pg/Krishna-Lake-2287873618105722/photos/?ref=page_internal') Photos
