section.map#contact
	iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3795.5790355055165!2d73.783008!3d17.951778!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x122e05f5abc81075!2sKrishna+Lake!5e0!3m2!1sen!2sin!4v1513271616029', width='100%',  height='450', frameborder='0', style='border:0', allowfullscreen=true)
	br
	small
		a(href='https://www.google.co.in/maps/@17.9513354,73.7828969,202m/data=!3m1!1e3')
